[Unit]
Description=BusyBox Cron Daemon
After=network.target

[Service]
Type=forking
ExecStartPre=/bin/mkdir -p /root/data/logs
ExecStart=/usr/sbin/crond -L /root/data/logs/crond_debug.log -c /var/spool/cron/crontabs
ExecStop=/bin/killall crond
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target