numpy==1.26.4
pandas==2.0.3

PyYAML==6.0.1

soundfile==0.13.1
soxr

tflite-runtime

audio-metadata

PyAudio==0.2.14

tqdm

boto3
botocore
s3transfer

python-dateutil
pytz

urllib3
certifi
idna

cryptography
pyOpenSSL

pyserial

digi-connectcore-ble
digi-xbee