SENSOR_ID=ccmp13-dvk-<numero_del_sensor>

APP_DIR=/opt/noiseport/app
DATA_DIR=/root/data

LOG_DIR=/root/data/logs
AUDIO_DIR=/root/data/audio


ACOUSTIC_PARAMS_DIR=/root/data/acoustic_params
PREDICTION_FILES_DIR=/root/data/prediction_files

MODELS_DIR=/root/data/models

PYTHON_BIN=/opt/noiseport/.venv/bin/python

